server:
  port: 8080

spring:
  application:
    name: jo

  datasource:
    url: jdbc:mysql://localhost:3306/jo
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

# logging은 spring 아래가 아니라 밖으로 꺼내야 합니다.
logging:
  level:
    org:
      springframework:
        security: DEBUG